<div class="each-post" id="post-<%= post._id %>">
    <div class="each-post-content">
        <div class='each-post-header'>
            <h3><%= post.user.name %></h3>
            <% if(locals.user && post.user.id==locals.user.id){ %>
                <a href="/post/destroy/<%= post._id %>" class="delete-post-btn"><i class="fas fa-window-close"></i></a>
            <%}%>
        </div>
        <p><%= post.content %></p>
    </div>
    <div class='count-bar-container'>
        <div class= "like-count">
            <span><span><%= post.likes.length %></span> Likes</span>
        </div>
        <div class= "comment-count">
            <span><span><%= post.comments.length %></span> Comments</span>
        </div>

    </div>
    <div class='actions-container'>
        <div class="actions-bar">
            <% if(locals.user){%>
            <a class='like-button' href='/likes/toggle/?id=<%= post._id %>&type=Post'><button class='actions-btn'>
                <%
                    var liked=false;
                    for(like of post.likes){
                        if(like.user==locals.user.id){ %>
                            <i class='fas fa-heart' style='color:red'></i> Like
                        <%  liked=true;
                            break;
                        }
                    }
                    if(!liked){ %>
                        <i class='fas fa-heart' style='color:gray'></i> Like
                    <%}%>
                
                
            </button></a>
            <%}%>
            <a class='comment-button'><button class='actions-btn'>
                <i class="far fa-comment"></i> Comment
            </button></a>
        </div>
    
        <%if(locals.user){%>
            <div class="post-comment">
                <form action="/comment/create" method="POST" class="comment-form">
                    <div class='comment-form-content'>
                        <textarea name="content" cols="30" rows="1" placeholder="Comment"></textarea>
                        <input type="submit" class="submit-comment-form-btn">
                    </div>  
                    <input type="hidden" name="post" value=<%= post._id%>>
                    
                </form>
            </div>
        <%}%>

        <div class="comment-container">
            <% for(comment of post.comments){ %>
                <%- include('_comment') -%>
            <%}%>
        </div>
    </div>
    
</div>






