<link rel="stylesheet" href="/css/home.css">
<div id="home-variable">
    <div id="home-header">
        <h1>Welcome to our website</h1>
    </div>
    <%if(locals.user){%>
    <form action="/post/create" id="post-form" method="POST">
        <textarea name="content" id="post-content" cols="30" rows="3" placeholder="Type Here"></textarea>
        <input type="submit" id="post-submit-btn">
    </form>
    <%}%>
    <div id="post-container">
        <% for(post of posts){ %>
        <div class="each-post">
            <h3><%= post.user.name %></h3>
            <p><%= post.content %></p>
        </div>
        <div id="comment-container">
            <% for(comment of post.comments){ %>
            <div class="each-comment">
                <span><%= comment.user.name %></span>
                <span><%= comment.content %></span>
            </div>
        
            <%}%>
        </div>
        <%if(locals.user){%>
            <div class="post-comment">
                <form action="/comment/create" method="POST">
                    <textarea name="content" cols="30" rows="1" placeholder="Comment"></textarea>
                    <input type="hidden" name="post" value=<%= post._id%>>
                    <input type="submit">  
                </form>
            </div>
        <%}%>
        <%}%>
    </div>
    
</div>


        