<html>
    <head>
        <title> </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://kit.fontawesome.com/eef1b29948.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Placing Style of subpages at right place in layouts -->
        <%- style %>
    </head>
    <body>
        <main>
            
            <%- include("./_header.ejs")%> <!-- Importing Partials -->

            
            <section id="mid-content">
           
                <%- body %>  <!-- Views are rendered here in body tag -->

            </section>
        
            <%- include("./_footer.ejs")%> <!-- Importing Partials -->
        </main>

        <!-- Placing Scripts of subpages at right place in layouts -->
        
        <%- script %>

        <script>
            //adding ejs in script only because its on server side
            "<% if(flash.success && flash.success.length>0){ %>"
                new Noty({
                    theme:"relax",
                    text: "<%= flash.success %>",
                    type:"success",
                    layout:"topRight",
                    timeout:1500

                }).show();
            "<% } %>"

            "<% if(flash.error && flash.error.length>0){ %>"
                new Noty({
                    theme:"relax",
                    text: "<%= flash.error %>",
                    type:"error",
                    layout:"topRight",
                    timeout:1500

                }).show();
            "<% } %>"
        </script>
        
    </body>
</html>